<Configuration status="INFO">
  <Appenders>
    <Console name="ConsoleAppender" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{YYYY-MM-dd HH:mm:ss} [%t] %-5p %c:%L - %m%n" />
    </Console>
  </Appenders>

  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="ConsoleAppender"/>
    </Root>
    <Logger name="software.amazon.awssdk" level="INFO" />
    <!-- enable lines below for detailed message logging -->
<!--    <Logger name="org.apache.http.wire" level="DEBUG" />-->
<!--    <Logger name="com.amazonaws.request" level="DEBUG" />-->
  </Loggers>
</Configuration>
